:root {
    --neutral-100: hsl(0, 0%, 100%);
    --neutral-200: hsl(210, 46%, 95%);
    --neutral-300: hsl(212, 23%, 69%);
    --neutral-600: hsl(214, 17%, 51%);
    --neutral-800: hsl(217, 19%, 35%);

    --shadow: hsl(210, 29%, 84%, .5);
}